@model IEnumerable<SodaStore.Data.SodaProduct>
@{
    ViewData["Title"] = "List";
}
<div class="row">
    @foreach (var product in Model)
    {

        <div class="col-xs-4">
            <div class="well">
                <h2>@product.Name</h2>
                <img class="img-responsive" src="@Url.Content(product.ImageURL)" />
            </div>
        </div>
    }
</div>